In [2]:
import pandas as pd
import openpyxl

In [6]:
# code that had be used for extracting the data for Corona Düsseldorf numbers

df = pd.read_csv("/Users/tatjanawasikanon/Desktop/techlabs/Aktuell_Deutschland_SarsCov2_Infektionen.csv")


#display(df)

result_ds = df[df['IdLandkreis'] == 5111]

output_file_path = "/Users/tatjanawasikanon/Desktop/techlabs/duesseldorf_corona.xlsx"

result_ds.to_excel(output_file_path, index=False)

display(result_ds)

,IdLandkreis,Altersgruppe,Geschlecht,Meldedatum,Refdatum,IstErkrankungsbeginn,NeuerFall,NeuerTodesfall,NeuGenesen,AnzahlFall,AnzahlTodesfall,AnzahlGenesen
989183,5111,A35-A59,M,2020-04-03,2020-02-18,1,0,-9,0,1,0,1
989184,5111,A35-A59,M,2020-03-04,2020-02-24,1,0,-9,0,1,0,1
989185,5111,A60-A79,M,2020-03-13,2020-02-25,1,0,-9,0,1,0,1
989186,5111,A35-A59,M,2020-04-21,2020-02-25,1,0,-9,0,1,0,1
989187,5111,A35-A59,M,2020-03-09,2020-02-28,1,0,-9,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1021011,5111,A60-A79,W,2024-01-15,2024-01-15,0,0,-9,-9,3,0,0
1021012,5111,A15-A34,W,2024-01-15,2024-01-15,0,0,-9,-9,1,0,0
1021013,5111,A00-A04,W,2024-01-15,2024-01-15,0,0,-9,-9,1,0,0
1021014,5111,A35-A59,W,2024-01-15,2024-01-15,0,0,-9,-9,2,0,0
1021015,5111,A80+,W,2024-01-16,2024-01-16,0,1,-9,-9,1,0,0