In [1]:
import pandas as pd
import openpyxl

In [2]:
# code that had be used for extracting the data for Corona Düsseldorf numbers

df = pd.read_csv("C:/Users/jkr/Documents/9 Computer/Informatik/Techlabs/DataScienceTrack/Project_DS/VSCode/techLabs/Datasets/Raw/Corona/duesseldorf_corona.csv")

display(df)
#print(df)

df = pd.read_csv("C:/Users/jkr/Documents/9 Computer/Informatik/Techlabs/DataScienceTrack/Project_DS/VSCode/techLabs/Datasets/Raw/Corona/duesseldorf_corona.csv")


display(df)
#print(df)

,IdLandkreis,Altersgruppe,Geschlecht,Meldedatum,Refdatum,IstErkrankungsbeginn,NeuerFall,NeuerTodesfall,NeuGenesen,AnzahlFall,AnzahlTodesfall,AnzahlGenesen
0,5111,A35-A59,M,2020-04-03,2020-02-18,1,0,-9,0,1,0,1
1,5111,A35-A59,M,2020-03-04,2020-02-24,1,0,-9,0,1,0,1
2,5111,A60-A79,M,2020-03-13,2020-02-25,1,0,-9,0,1,0,1
3,5111,A35-A59,M,2020-04-21,2020-02-25,1,0,-9,0,1,0,1
4,5111,A35-A59,M,2020-03-09,2020-02-28,1,0,-9,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
31828,5111,A60-A79,W,2024-01-15,2024-01-15,0,0,-9,-9,3,0,0
31829,5111,A15-A34,W,2024-01-15,2024-01-15,0,0,-9,-9,1,0,0
31830,5111,A00-A04,W,2024-01-15,2024-01-15,0,0,-9,-9,1,0,0
31831,5111,A35-A59,W,2024-01-15,2024-01-15,0,0,-9,-9,2,0,0
31832,5111,A80+,W,2024-01-16,2024-01-16,0,1,-9,-9,1,0,0